    <li class="active"><a href="//{{ subdn.domain }}/">Homepage</a></li>
    <li class="has-sub">
	    <a href="javascript:;">
            <b class="caret pull-right"></b>
            Approaches
        </a>
	    <ul class="sub-menu">
{% for k,v in catalog.approach %}
            <li><a href="//{{ subdn.domain }}/approach/{{ k }}">{{ v }}</a></li>
{% endfor %}
	    </ul>
    </li>
    <li><a href="//{{ subdn.domain }}/tokenize">Natural Language Tokenizer</a></li>
    <li><a href="//{{ subdn.domain }}/question">Question-to-Query</a></li>
    <li><a href="//{{ subdn.domain }}/enrich">RDF Enhancer</a></li>

