{% extends 'layouts/dashboard.html' %}

{% load staticfiles %}

{% block page_title %}
Dashboard
<small>header small text goes here...</small>
{% endblock %}

{% block before_widgets %}
<p>Linked Data is about using the Web to connect related data that wasn't previously linked, or using the Web to lower the barriers to linking data currently linked using other methods. More specifically, Wikipedia defines Linked Data as "a term used to describe a recommended best practice for exposing, sharing, and connecting pieces of data, information, and knowledge on the Semantic Web using URIs and RDF."</p>
{% endblock %}

{% block after_widgets %}
    <div class="col-md-12">
		<canvas id="_ctx" width="700" height="500">
		</canvas>
	</div>
{% endblock %}

{% block app_styles %}
	<link rel="stylesheet" href="{% static 'custom/screen.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block app_scripts %}
	<script type="text/javascript" src="{% static 'custom/graph.js' %}"></script>
	<script type="text/javascript">
jQuery(function () {
    jQuery.ajax({
        url:      '//linked.uchikoma.xyz/topology/{{ partition }}.json',
        method:   'GET',
        dataType: 'json',
        success:  function (data) {
	        var g = new Graph(document.getElementById("_ctx"), 5);
	        for (var id in data.nodes) {
		        g.addNode(id, data.nodes[id]);
	        }
	        for (var i=0; i < data.edges.length; i++) {
		        var n1 = g.nodeset[data.edges[i][0]];
		        var n2 = g.nodeset[data.edges[i][1]];
		        g.addEdge(n1, n2, data.edges[i][2]);
	        }
	        g.eigenvectorCentrality();
	        g.betweennessCentrality();
	        for (var i=0; i < g.nodes.length; i++) {
		        var n = g.nodes[i];
		        n.radius = n.radius + n.radius * n.weight;
	        }
	        for (var i=0; i < g.nodes.length; i++) {
		        var e = g.nodes[i].edges();
		        if (e.length == 1) {
			        e[0].length *= 0.3;
		        }
	        }
	        g.layout.k = 10.0; // Force constant (= edge length).
	        g.layout.force = 0.05; // Repulsive strength.
	        g.layout.repulsion = 200; // Repulsive radius.
	        // Start the animation loop.
	        g.loop({frames:500, fps:30, ipf:2, weighted:0.5, directed:true});
        },
    });
});
	</script>
{% endblock %}

