    <li class="active"><a href="//{{ subdn.domain }}/">Homepage</a></li>
    <li><a href="//{{ subdn.domain }}/namespaces/">Namespaces</a></li>
    <li><a href="//{{ subdn.domain }}/ontologies/">Ontologies</a></li>
    <li><a href="//{{ subdn.domain }}/explore">Explore</a></li>

