{% extends 'base.html' %}

{% block page_breadcrumb %}
				    <li><a href="javascript:;">Home</a></li>
				    <li class="active">Dashboard</li>
{% endblock %}

{% block page_container %}
			    <div class="row">
{% block page_content %}
{% endblock %}
			    </div>
{% endblock %}

